<a name="education"></a>
<div class="education-section">

    <div class="container">
    	<div class="row">
            <div class="col-lg-12 text-center">
            	<div class="title-font">
                	<h1>Education</h1>
                </div>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row col-md-offset-2 list-box">
	        <dl>
	        	<dt>Polytechnic Institute of New York University</dt>
	        	<dd>
		        	<ul class="list-unstyled">
		        		<li> - Master of Science, May 2012	</li>
		        		<li> - Major: Computer Science</li>
		        	</ul>
	        	</dd>
	    	</dl>
		</div>

		<div class="row col-md-offset-2 list-box">
	        <dl>
	        	<dt>Yuan Ze University, Taoyuan County, Taiwan </dt>
	        	<dd>
		        	<ul class="list-unstyled">
		        		<li> - Bachelor of Science, June 2006</li>
		        		<li> - Major: Computer Science and Engineering</li>
		        	</ul>
	        	</dd>
	    	</dl>
		</div>
        
    </div>
</div>        