<a name="experience" id="experience"></a>
<div class="experience-section">

    <div class="container">
    	<div class="row">
            <div class="col-lg-12 text-center">
                <div class="title-font">
                	<h1>Experience</h1>
                </div>	
                <hr class="star-primary">
            </div>
        </div>

        <div class="row col-md-offset-2 list-box">
        	<dl>
	        	<dt>Freelancer</dt>
	        	<dd>
		        	<ul class="list-unstyled">
		        		<li> - Ruby on Rails Web Developer, 2014- Present</li>
		        		
		        	</ul>
	        	</dd>
        	</dl>
			
        </div>
        <div class="row col-md-offset-2 list-box">
        	<dl>
	        	<dt>Magkinetics, jersey city, NJ</dt>
	        	<dd>
		        	<ul class="list-unstyled">
		        		<li> - Back End Developer, Path to Logic Project, May 2013- October 2013</li>
		        		<li> - Working as a prime back end developer to design and develop a dynamic web application.</li>
		        		<li> - Using JSP Servlet and Hibernate to build the structure of the website.</li>
		        		<li> - Using JavaScript, JQuery and Ajax to communicate between the back end and the front end.</li>
		        		<li> - Using Eclipse IDE, SVN to develop the project and perform revision control.</li>
		        		<li> - This project is a platform for companies and its employees to maintain, track and share various aspects of work</li>
		        	</ul>
	        	</dd>
        	</dl>
			
        </div>


 


        <div class="row col-md-offset-2 list-box">
        	<dl>
	        	<dt> National Yang-Ming University Institute of Bioinformatics, Taiwan </dt>
	        	<dd>
		        	<ul class="list-unstyled">
		        		<li> - Research Assistant, 2008-2010</li>
		        		<li> - Participated in the National Science Council Plan「The study of developing usability-engineered and simple-solution-based information support systems of health services model for long-term care institutional residents.」</li>
		        		<li> - Researched and designed applications for portable equipment, such as PDA, that will enable medical staff to gather and evaluate information, and developed a Web-based control center that provided a method for evaluating deposited data, analyzing the results and producing reports, as well as providing an auxiliary tool for the managers. </li>
		        		
		        	</ul>
	        	</dd>
        	</dl>
			
        </div>




    </div>
</div>        