<a name="skills" id="skills"></a>
<div class="skills-section">

    <div class="container">
    	<div class="row">
            <div class="col-lg-12 text-center">
            	<div class="title-font">
                	<h1>Technical Skills</h1>
                </div>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row col-md-offset-2 ">
	        <dl>
	        	<dt>Operating Systems</dt>
	        	<dd>
		        	<ul class="list-unstyled">
		        		<li> - Windows, MAC	</li>
		        	</ul>
	        	</dd>
	    	</dl>
		</div>

		<div class="row col-md-offset-2">
	        <dl>
	        	<dt>Web Tools:  </dt>
	        	<dd>
		        	<ul class="list-unstyled">
		        		<li> - Ruby on Rails, HTML, CSS, JavaScript, JQuery, JSON, JSP, Bootstrap, Ajax</li>
		        	</ul>
	        	</dd>
	    	</dl>
		</div>

		<div class="row col-md-offset-2">
	        <dl>
	        	<dt>Programming Languages:  </dt>
	        	<dd>
		        	<ul class="list-unstyled">
		        		<li> - Ruby, Java, PHP, C, C++, SQL</li>
		        	</ul>
	        	</dd>
	    	</dl>
		</div>

		<div class="row col-md-offset-2">
	        <dl>
	        	<dt>Databases:   </dt>
	        	<dd>
		        	<ul class="list-unstyled">
		        		<li> - MySQL, PostgreSQL</li>
		        	</ul>
	        	</dd>
	    	</dl>
		</div>

		<div class="row col-md-offset-2">
	        <dl>
	        	<dt>Develop Tools:   </dt>
	        	<dd>
		        	<ul class="list-unstyled">
		        		<li> - Heroku, Git, GitHub, Eclipse</li>
		        	</ul>
	        	</dd>
	    	</dl>
		</div>
        
    </div>
</div>        